
<div class="container"
	fxLayout="column"
	fxLayoutGap="15px">

	<div fxFlex>
		<div>
			<h3>Jugadores</h3>
			<hr>
		</div>
	</div>

	<mat-list fxFlex>
      <mat-list-item *ngFor="let jugador of jugadores">
          <img matListAvatar src={{jugador.avatar}} alt={{jugador.nickname}}>
          <h1 matLine>{{jugador.nickname}}</h1>
          <p matLine> 
            Nombre: {{jugador.nombre}}  
            <a [routerLink]="['edit', jugador._id]" class="btn btn-primary">Editar</a> 
            <button (click)="deleteJugador(jugador._id)">Borrar</button>

          </p>
      </mat-list-item>
    </mat-list>
</div>
