<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="jugadores/add" class="nav-link" routerLinkActive="active">
          Crear Jugador
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="jugadores" class="nav-link" routerLinkActive="active">
          Lista de Jugadores
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!--<app-addjugador></app-addjugador><app-editjugador></app-editjugador><app-jugador></app-jugador>-->