
/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~@angular/material/prebuilt-themes/purple-green.css';

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body {
  margin: 0px;
  padding: 0px;
}
body{

  //background-color: #f0f0f0; 
 background-color: #607D8B;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}

